body{
    color: white;
    background-color: gray;
}
.container{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.geral, .dados{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.dados input, button{
width: auto;
height: 30px;
margin-top: 30px;
}
.mark-up{
    margin-right: 35px;
}