body{
    color: white;
    background-color: gray;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size:large;
}

.container{
    display: flex;
    align-items:center;
    justify-content: center;
    flex-direction: column;
}

.geral, .dados{
    display: flex;
    align-items:center;
    justify-content: center;
    flex-direction: column;
}

.geral{
    border:5px solid black;
    padding: 20px;
    margin-right: 100px;
}

.dados input, button {
    height: 30px;
    margin-top: 30px;
}
span{
    border: 2px solid white;
    width: 100px;
    height: 30px;
    margin: 16px 10px ;
    box-shadow: inset 0 0 5px;
    text-align: center;
}
button{
    height: 40px;
    width: 80px;
}

.mark{
    margin-right: 35px;
}

.dados-simulacao{
    display: flex;
}

