body{
    color: white;
    background-color: gray;
}
.container{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.geral, .dados{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.geral{
    border: 3px solid black;
    padding: 10px;
    padding-top:0;
}

.dados input, button{
width: auto;
height: 30px;
margin-top: 30px;
}
.mark-up{
    margin-right: 45px;
}
.visor, #Valor, #mark, #custoComMarkUp{
 width: 110px;
 height: 30px;
 box-shadow: inset 0 0 10px;
 border: 1px solid;
 margin-top: 12px;
 margin-left: 10px;
 
}
.div-visor{
    display: flex;
    
}